@charset "utf-8";
/* CSS Document */
.cpjs{
	border:1px solid white;
	height:215px;
	margin-top:35px;
	background:#0CF;
	position:relative;
    z-index:999;
	display:none;
	width:86px;
	}
.cpjs>a{
	float:none!important;
	}
.cpjs a:hover{
	background:none!important;
	}	
